*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

:root{
    --font: Montserrat;
}
.container-redes-sociais{
    display: flex;
    margin-right: 5%;
    min-width: 100px;
    justify-content: space-around;
}

.insta{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1129px;
    top: 70px;
    min-height: 30px;
    min-width: 30px;
}

.facebook{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1191px;
    top: 70px;
    min-height: 30px;
    min-width: 30px;
}

.container-apresentacao{
    padding: 50px;
    margin-bottom: 50%;
    text-align: start;
}

#container-inicio{
    margin-top: 80px;
    width: 539px;
    height: 533px;
    background: #D56E29;
}
#text-prazer{
    position: absolute;
    width: 180px;
    height: 65px;
    left: 50px;
    top: 242px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 65px;
    color: #FFFFFF;
}
#text-somos{
    position: absolute;
    width: 386px;
    height: 174px;
    left: 50px;
    top: 306px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 71px;
    line-height: 87px;
    color: #FFFFFF;
}
#text-conheca{
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    width: 305px;
    height: 40px;
    left: 53px;
    top: 532.07px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #D56E29;
}
#img-inicio{
    position: absolute;
    /* width: 741px; */
    height: 533px;
    left: 539px;
    top: 80px;
}
#img-boas-vindas{
    width: 100%;
    margin-top: 10%;
}


#text-equipe{
    font-family: var(--font);
    margin: 0px;
    width: 131px;
    font-size: 30px;
}

.container-nos{
    display: flex;
}

.logo{
    width: 174px;
    height: 56px;
    left: 55px;
    top: 50px;
}


#impacto{

}

#img-boas-vindas-desktop{
    width: 100%;
}

#img-boas-vindas-mobile{
    display: none;
}

.col-md-6-text-nos{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 3%;
}

.container-text-2{
    margin-top: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 3%;
    margin-right: 3%;
}

.col-md-6{
    display: flex;
    justify-content: center;
}



.img-2{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.text-tit-acao{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #D56E29;
}


.text-corpo-acao{
    margin-top: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 2%;
    margin-right: 2%;
}

.container-acao{
    display: flex;
    text-align: center;
    
}

#img-nos-mobile-2{
    display: none;
}

#missao{
    margin-top: 3%;
    width: 50%;
}

#visao{
    margin-top: 3%;
    width: 50%;
}

#valores{
    margin-top: 3%;
    width: 50%;
}

#temas-abordados{
    width: 50%;
}

#Realizamos{
    width: 50%;
}

#Proporcionamos{
    width: 50%;
}

.container-integrante{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

}





@media (max-width: 1000px) {

    #img-boas-vindas-mobile{
       display: block !important;
       width: 100%;
    }
    #img-boas-vindas-desktop{
       display: none;
    }


    .col-md-6{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-nos{
        display: block;
    }

    #img-nos-desktop-2{
        display: none;
    }

    #img-nos-mobile-2{
        display: block !important;
        text-align: center;
    }

    .container-acao{
        display: block;
        text-align: center !important;
        margin-top: 2%;
    }

    .container-nosso-trabalho{
        display: block !important;
        
    }

    .col-md-4{
        margin-bottom: 15%;
        text-align: center !important;
    }

    #missao{
        margin-top: 3%;
        width: 100%;
    }
    
    #visao{
        margin-top: 3%;
        width: 100%;
    }
    
    #valores{
        margin-top: 3%;
        width: 100%;
    }

    #temas-abordados{
        width: 100%;
    }
    
    #Realizamos{
        width: 100%;
    }
    
    #Proporcionamos{
        width: 100%;
    }

    #equipe{
        display: block !important;
    }

    .img-1{
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }


    
}
