*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

:root{
    --font: Montserrat;
}
.container-redes-sociais{
    display: flex;
    margin-right: 5%;
    min-width: 100px;
    justify-content: space-around;
}

.insta{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1129px;
    top: 70px;
    min-height: 30px;
    min-width: 30px;
}

.facebook{
    margin: 5%;
    width: 33px;
    height: 33px;
    left: 1191px;
    top: 70px;
    min-height: 30px;
    min-width: 30px;
}

.container-apresentacao{
    text-align: start;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

#container-inicio{
    margin-top: 80px;
    width: 539px;
    height: 533px;
    background: #D56E29;
}
#text-prazer{
    position: absolute;
    width: 180px;
    height: 65px;
    left: 50px;
    top: 242px;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 65px;
    color: #FFFFFF;
}
#text-somos{
    position: absolute;
    width: 386px;
    height: 174px;
    left: 50px;
    top: 306px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 71px;
    line-height: 87px;
    color: #FFFFFF;
}
#text-conheca{
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    width: 305px;
    height: 40px;
    left: 53px;
    top: 532.07px;

    font-family: var(--font);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #D56E29;
}
#img-inicio{
    position: absolute;
    /* width: 741px; */
    height: 533px;
    left: 539px;
    top: 80px;
}
#img-boas-vindas{
    width: 100%;
    margin-top: 10%;
}


#text-equipe{
    font-family: var(--font);
    margin: 0px;
    width: 131px;
    font-size: 30px;
}

.container-nos{
    display: flex;
}

.logo{
    width: 174px;
    height: 56px;
    left: 55px;
    top: 50px;
}


#impacto{

}

#img-boas-vindas-desktop{
    width: 100%;
}

#img-boas-vindas-mobile{
    display: none;
}

.col-md-6-text-nos{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 3%;
}

.container-text-2{
    margin-top: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 3%;
    margin-right: 3%;
}

.col-md-6{
    display: flex;
    justify-content: center;
}



.img-2{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.text-tit-acao{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #D56E29;
}


.text-corpo-acao{
    margin-top: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
    margin-left: 2%;
    margin-right: 2%;
}

#text-objetivos{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #3C3C3B;
}

.container-item-objetivos{
    display: flex;
    margin-bottom: 3%;
    margin-right: 3%;
}

.container-acao{
    display: flex;
    text-align: center;
    
}

#img-nos-mobile-2{
    display: none;
}

#missao{
    margin-top: 3%;
    width: 50%;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}

#visao{
    margin-top: 3%;
    width: 50%;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}

#valores{
    margin-top: 3%;
    width: 50%;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}

#temas-abordados{
    width: 50%;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
}

#Realizamos{
    width: 50%;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
}

#Proporcionamos{
    width: 50%;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}

.container-integrante{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 2%;
    background: #FAFAFA;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 100%;
}

.parceiro{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}



.parceiro_2{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.container-parceiro_3{
    justify-content: center;
    display: flex;
}

#imagem-equipe{
    height: 230px;
}

#imagem-parceiro{
    max-width: 150px;
    margin-left: 5%;
    margin-right: 5%;
    background: #FAFAFA;
/* Soft_shadow */

box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 6px;
}





@media (max-width: 1000px) {

    #img-boas-vindas-mobile{
       display: block !important;
       width: 100%;
    }
    #img-boas-vindas-desktop{
       display: none;
    }

    .col-md-6-text-nos{
        font-size: 24px !important;
    }

    .container-text-2{
        font-size: 24px !important;
    }

    .text-corpo-acao{
        font-size: 24px;
    }


    .col-md-6{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-nos{
        display: block;
    }

    #img-nos-desktop-2{
        display: none;
    }

    #img-nos-mobile-2{
        display: block !important;
        text-align: center;
    }

    .container-acao{
        display: block;
        text-align: center !important;
        margin-top: 2%;
    }

    .container-nosso-trabalho{
        display: block !important;
        
    }

    .col-md-4{
        margin-bottom: 15%;
        text-align: center !important;
    }

    #missao{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    #visao{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    #valores{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    #temas-abordados{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    #Realizamos{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    #Proporcionamos{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    #equipe{
        display: block !important;
    }

    .img-1{
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }

    .parceiro {
        display: block !important;
    }

    #parceiro-ajuste{
        margin: 5%;
    }

    
    #imagem-equipe{
        display: none;
    }

    #imagem-equipe-mobile{
        display: inline !important;
        height: 250px;
        align-items: center
    }

   
}
